:root {
  --primary-color: hsl(212, 45%, 89%);
  --secondary-color: hsl(220, 15%, 55%);
  --tertiary-color: hsl(218, 44%, 85%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  background-color: var(--primary-color);
  font-size: 0.9375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.qr-code {
  max-width: 20rem;
  border-radius: 20px;
  background-color: #fff;
  padding: 1rem 1rem 2rem;
  text-align: center;
  box-shadow: var(--tertiary-color) 10px 10px 30px;
  margin-bottom: 3rem;
}

.qr-code img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 16px;
}

.qr-code h1 {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.qr-code p {
  color: var(--secondary-color);
  margin-inline: 18px;
}
