@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --primary-color: hsl(212, 45%, 89%);
  --secondary-color: hsl(220, 15%, 55%);
  --tertiary-color: hsl(218, 44%, 85%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Outfit', sans-serif;
  background-color: var(--primary-color);
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.qr-code {
  max-width: 330px;
  border-radius: 20px;
  background-color: #fff;
  padding: 1rem 1rem 3rem 1rem;
  text-align: center;
  box-shadow: var(--tertiary-color) 10px 10px 30px;
  margin-bottom: 3rem;
}

.qr-code img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 16px;
}

.qr-code .qr-text {
  padding: 0 0.5rem 0;
}

.qr-code h1 {
  font-size: 1.6em;
  margin-bottom: 16px;
}

.qr-code p {
  color: var(--secondary-color);
  padding: 0 1rem 0;
}
